
.main{
 
  
    padding-left: 100px;
      padding-top: 100px;
      
  }
  .full{
     
      height: 70vh;
      width: 80vw;
    box-shadow: 4px;
    box-shadow: 6px 9px 3px rgb(0 0 0 / 10%);
      display: flex;
    
  }
  .left{
     justify-content: center;
     align-items: center;
     height: 70vh ;
     width: 30vw;
     /* border: 2px solid black; */
     background-color: black;
  }
  .left img{
      object-fit: cover;
      opacity: 0.9;
      height: 70vh;
      width: 30vw;
    
  
  }
  .right{
      height: 70vh;
      width: 50vw;
      justify-content: center;
      align-items: center;
      box-shadow: 6px 9px 3px rgb(0 0 0 / 10%);
  
  }
  h1{
      text-align: center;
  }
  form{
    
  }
  input{
      width: 90%;
      padding: 2vh 2vw;
      margin: 1vh 1vw;
      box-sizing: border-box;
      border-radius: 10px;
  }
  button{
      height: 7vh;
      text-align: center;
      background-color: blueviolet;
      margin-left: 4vw;
      margin-top: 3vh;
       width: 80%;
       color: white;
     border-radius: 10px;
    padding-top: 1vh;
  }
  p{
      margin-left: 18vw
  }
  span{
    padding-left: 3vw;
}
